@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,200&display=swap');
*{
 margin: 0px 0px 0px 0px;
 text-decoration: none;
 list-style: none;
}
body,html{
    background-image: url("image/bg.jpg");
    background-size: cover;
    background-repeat: repeat-y;
    width: 100%;
    
}
section{
    background-color: rgba(97, 97, 97, 0.151);
    width: 30%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: auto;
    border-radius: 20px;
}
section img{
    margin-top: 30px;
    width: 70%;
    margin: 0px auto;
    margin-top: 60px;
}
section form{
    text-align: center;
}
section form{
    text-align: center;
    margin-top: 80px;
}
.label{
    color: rgb(238, 238, 238);
    font-family: 'Big Shoulders Stencil Display', cursive;
    font-size: 31px;
    margin-bottom: 9px;
    
}
form input[type=text],input[type=password]{
    width: 50%;
    padding: 4px 2px;
    border-radius: 5px;
    border: 1px solid rgb(126, 126, 126);
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 16px;
    color: black;
}
form .submit{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(22, 23, 41);
    width: 20%;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    
    color: rgb(201, 204, 0);
   
}
.forgot{
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    font-size: 15px;
    color: white;
   
}
.Error{
    color: rgb(201, 204, 0);
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

